extends layout

block content

    h1 Add Post

    form(action='/saveNewPost', method='GET')
        label(for='userId') Enter new user ID:
        input(type='text', name='userId', id='userId', placeholder='User ID')
        br
        br
        label(for='id') Enter new ID:
        input(type='text', name='id', id='id', placeholder='ID')
        br
        p
            label(for='title') Enter new title:
            input(type='text', name='title', id='title', placeholder='title')
        p
            label(for='body') Enter new body:
            //input(type='textarea', name='body', id='body', placeholder='body')
            textarea(name="body", id='body', placeholder="Enter the body of the post here")

        button Submit